<div class="row">
    <div *ngFor="let resultado of resultados" class="card" class="col-md-4 col-sm-6 animate__animated animate__wobble">
        <div class="card">
            <div class="card-body">
                <img 
                    class="card-img-top" 
                    [src]="resultado.images.downsized_medium.url" 
                    [alt]="resultado.title"
                    [routerLink] = "['/gifs', resultado.id]"
                >
                <p class="card-text">{{resultado.title}}</p>
            </div>
        </div>
    </div>
</div>